Repository harperreed/resonate-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-verify, go-build-all

.pre-commit-config.yaml:

# ABOUTME: Pre-commit hooks configuration for code quality checks
# ABOUTME: Runs formatting, linting, and tests before each commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: ['--timeout=5m']
      - id: go-unit-tests
        args: ['-race', '-v', './...']

  - repo: local
    hooks:
      - id: go-mod-verify
        name: go mod verify
        entry: go mod verify
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-build-all
        name: go build all binaries
        entry: bash -c 'go build -v -o resonate-player . && go build -v ./cmd/resonate-server && go build -v ./cmd/test-sync'
        language: system
        files: \.go$
        pass_filenames: false

🗑️ Remove Rust Implementation Specification 🗑️
  docs/rust-thoughts.md
Due: none

Add important disclaimer for proof of concept status and enhance README content 🎉📖
  README.md
Due: none

``` 🎶 Major Audio Upgrade: 24-Bit Output & Opus Resampling Created! 🚀
  docs/PHASE1_IMPLEMENTATION.md
  docs/plans/phase1-hires-fixes.md
  go.mod
  go.sum
  internal/server/audio_engine.go
  internal/server/audio_source.go
  internal/server/server.go
  pkg/audio/output/doc.go
  pkg/audio/output/malgo.go
  pkg/audio/output/oto.go
  pkg/audio/output/output.go
  pkg/resonate/player.go
Due: go-mod-verify, go-build-all

Fix audio buffer size for optimal performance and adjust output initialization based on bit depth
  pkg/audio/output/malgo.go
  pkg/resonate/player.go
Due: go-build-all

Add Apache License 2.0
  LICENSE
Due: none

Align pkg/sendspin with official Sendspin Protocol spec
  pkg/protocol/client.go
  pkg/protocol/messages.go
  pkg/protocol/messages_test.go
  pkg/sendspin/player.go
  pkg/sendspin/scheduler.go
  pkg/sendspin/server.go
  pkg/sendspin/server_test.go
Due: go-build-all

Fix code review issues from fresh eyes review
  pkg/protocol/client.go
  pkg/sendspin/scheduler.go
Due: go-build-all
