Repository harperreed/resonate-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-verify, go-build-all

go-mod-verify:
  name: go mod verify
  entry: go mod verify
  language: system
  pass_filenames: false

go-build-all:
  name: go build all binaries
  entry: bash -c 'go build -v -o resonate-player . && go build -v ./cmd/resonate-server && go build -v ./cmd/test-sync'
  language: system
  pass_filenames: false

fix: Add tests and linting to release workflow
  .github/workflows/release.yml
Due: none

fix: Use native platform builds for release (fixes CGO cross-compilation)
  .github/workflows/release.yml
Due: none

fix: Remove concurrent test scenarios that don't match real usage
  .gitignore
  .golangci.yml
  code-review.md
  go.mod
  go.sum
  internal/artwork/downloader_test.go
  internal/audio/types.go
  internal/protocol/messages.go
  internal/server/resampler_test.go
  internal/server/server.go
  internal/sync/clock.go
  internal/sync/clock_test.go
  internal/ui/model.go
  internal/ui/model_test.go
  internal/ui/tui.go
  internal/version/version.go
  main.go
Due: go-mod-verify, go-build-all

fix: CI build only for native platform (no cross-compilation)
  .github/workflows/ci.yml
Due: none

feat: Add dependency installation script and improved release docs
  .github/workflows/release.yml
  install-deps.sh
Due: none

🚨📁 Remove code review document and rename clock sync analysis! 📁🚨
  code-review.md
  docs/CLOCK_SYNC_ANALYSIS.md
Due: none

feat: Add static linking for Linux binaries
  .github/workflows/release.yml
Due: none

feat: Release Linux static binaries only
  .github/workflows/release.yml
Due: none

fix: Correct shell quoting in release workflow build step
  .github/workflows/release.yml
Due: none

fix: Add libasound2-dev for static linking on Linux
  .github/workflows/release.yml
Due: none

fix: Use portable binaries instead of full static linking
  .github/workflows/release.yml
Due: none

feat: Default to hi-res audio format (192kHz/24-bit)
  internal/app/player.go
Due: go-build-all

feat: Set server test tone to hi-res (192kHz/16-bit)
  internal/server/audio_engine.go
Due: go-build-all

feat: Add true 24-bit hi-res audio support (192kHz/24-bit)
  CODE_REVIEW_FIXES.md
  FORMAT_NEGOTIATION_FIX.md
  HIRES_TEST_RESULTS.md
  MA_HIRES_ISSUE.md
  NATIVE_RATE_FIX.md
  internal/audio/decoder.go
  internal/audio/decoder_test.go
  internal/audio/types.go
  internal/player/output.go
  internal/player/output_test.go
  internal/server/audio_engine.go
  internal/server/audio_source.go
  internal/server/resampler.go
  internal/server/resampler_test.go
  internal/server/test_tone_source.go
Due: go-build-all

ci: Simplify CI to use only Linux test runner
  .github/workflows/ci.yml
Due: none

docs: Add library refactor design document
  docs/plans/2025-10-25-library-refactor-design.md
Due: none

docs: Add library refactor implementation plan
  docs/plans/2025-10-25-library-refactor-plan.md
Due: none

feat: Create public package structure for library
  pkg/audio/decode/doc.go
  pkg/audio/doc.go
  pkg/audio/encode/doc.go
  pkg/audio/output/doc.go
  pkg/audio/resample/doc.go
  pkg/discovery/doc.go
  pkg/protocol/doc.go
  pkg/resonate/doc.go
  pkg/sync/doc.go
Due: go-build-all

feat: Add audio types to public API
  pkg/audio/types.go
  pkg/audio/types_test.go
Due: go-build-all

feat: Add PCM decoder to public API
  pkg/audio/decode/decoder.go
  pkg/audio/decode/pcm.go
  pkg/audio/decode/pcm_test.go
Due: go-build-all

test: Add error handling tests for PCM decoder
  pkg/audio/decode/pcm_test.go
Due: go-build-all

feat: Add codec-specific decoder implementations to pkg/audio/decode
  pkg/audio/decode/flac.go
  pkg/audio/decode/mp3.go
  pkg/audio/decode/opus.go
Due: go-build-all

test: Add unit tests for Opus, FLAC, and MP3 decoders
  pkg/audio/decode/flac_test.go
  pkg/audio/decode/mp3_test.go
  pkg/audio/decode/opus_test.go
Due: go-build-all

feat: Add PCM and Opus encoders to public API
  pkg/audio/encode/encoder.go
  pkg/audio/encode/opus.go
  pkg/audio/encode/opus_test.go
  pkg/audio/encode/pcm.go
  pkg/audio/encode/pcm_test.go
Due: go-build-all

feat: Add resampler to public API
  pkg/audio/resample/resampler.go
  pkg/audio/resample/resampler_test.go
Due: go-build-all

feat: Add audio output to public API
  go.mod
  go.sum
  pkg/audio/output/output.go
  pkg/audio/output/output_test.go
  pkg/audio/output/portaudio.go
  pkg/audio/output/portaudio_stub.go
Due: go-mod-verify, go-build-all

fix: Replace PortAudio with oto for audio output
  go.mod
  go.sum
  pkg/audio/output/oto.go
  pkg/audio/output/output_test.go
  pkg/audio/output/portaudio.go
  pkg/audio/output/portaudio_stub.go
Due: go-mod-verify, go-build-all

feat: Add wire protocol to public API
  pkg/protocol/client.go
  pkg/protocol/client_test.go
  pkg/protocol/messages.go
  pkg/protocol/messages_test.go
Due: go-build-all

feat: Add clock synchronization to public API
  pkg/sync/clock.go
  pkg/sync/clock_test.go
Due: go-build-all

feat: Move mDNS service discovery to public API
  pkg/discovery/mdns.go
  pkg/discovery/mdns_test.go
Due: go-build-all

feat: Add high-level Player API to pkg/resonate
  pkg/resonate/player.go
  pkg/resonate/player_test.go
  pkg/resonate/scheduler.go
Due: go-build-all

feat: Add high-level Server API to public library
  pkg/resonate/server.go
  pkg/resonate/server_test.go
  pkg/resonate/source.go
Due: go-build-all

feat: Migrate player CLI to use pkg/resonate.Player library
  main.go
Due: go-build-all

refactor: Migrate server CLI to use pkg/resonate.Server
  cmd/resonate-server/main.go
Due: go-build-all

feat: Add example programs demonstrating library usage
  examples/README.md
  examples/basic-player/README.md
  examples/basic-player/main.go
  examples/basic-server/README.md
  examples/basic-server/main.go
  examples/custom-source/README.md
  examples/custom-source/main.go
Due: go-build-all

docs: Update README with library-first architecture and usage examples
  README.md
Due: none

docs: Add CHANGELOG.md for v1.0.0 release
  CHANGELOG.md
Due: none

docs: Update CHANGELOG version to 0.9.0
  CHANGELOG.md
Due: none

docs: Add Contributing section with issues, todos, and roadmap
  README.md
  docs/rust-thoughts.md
Due: none

docs: Add comprehensive hi-res audio verification report
  docs/hires-audio-verification.md
Due: none

Path conditions:
  go-mod-verify: any of: go\.(mod|sum)$
  go-build-all: any of: \.go$
